<footer class="footer">
    <ul class="footer__ul1">
        <li><a class="footer__ul1--a" href="https://www.adalab.es">Zapatillas</a></li>
        <li><a class="footer__ul1--a" href="https://www.adalab.es">Ropa</a></li>
        <li><a class="footer__ul1--a" href="https://www.adalab.es">Niño/a</a></li>
        <li><a class="footer__ul1--a" href="https://www.adalab.es">Destacados</a></li>
        <li><a class="footer__ul1--a" href="https://www.adalab.es">Tips</a></li>
    </ul>
    <ul class="footer__ul2">
        <li><a class="footer__ul2--a" href="https://www.adalab.es">Twitter</a></li>
        <li><a class="footer__ul2--a" href="https://www.adalab.es">Instagram</a></li>
        <li><a class="footer__ul2--a" href="https://www.adalab.es">Youtube</a></li>
    </ul>
    <div>
        <p>© 2023</p>
        <p> we (L) run</p>
    </div>
</footer>