@import 'core/variables';
@import 'core/reset';
@import 'layout/hero';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/section1';
@import 'layout/section2';

.header{
    background-color: $moss-green;
    width:10%;
    display:flex;
    align-items:center;
    justify-content: center;
    position:fixed;
    z-index: 100;
    @media (min-width:768px){
        width:5%;
    }
    &__svg{
        padding:30%;   
    }

}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    justify-content:flex-end;
    background-image: url(../images/cover.jpeg);
    background-repeat: no-repeat;
    background-position: 75%;
    background-size: cover;
    padding: 0rem 2rem;
    &__h1{
        color: $white;
        font-size: 2.2em;
        text-transform: uppercase;
        font-family: $font-family;
        margin-top: 12rem;
        line-height: 1.7em;
        @media (min-width:768px){
            font-size: 5em;
            line-height:1.3em;
        }
    }
    &__p{
        color: $white;
        font-family: $font-main;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.2em;
        font-weight: normal;
        @media (min-width:768px){
            font-size: 1.5em;
            line-height:1.3em;
        }
    }
    &__icon{
        background-color: $white;
        border-radius: 60%;
        padding: 15px;
        margin-bottom: 50px;
        display:flex;
        align-items:center;
        @media (min-width:768px){
            margin-bottom:20px;
        }
}
}

.section1{
    margin: 3rem 1.5rem 3rem 1.5rem;
    @media (min-width:1200px){
        margin: 3rem 10rem 3rem 10rem;
    }
    &__h3{
        color: $moss-green;
        font-family: $font-main;
        text-transform:uppercase;
        font-size: 1em;
        font-weight: normal;
        
    }
    &__h2{
        text-transform: uppercase;
        font-family: $font-family;
        @media (min-width:768px){
            padding-top:15px;
            padding-bottom:15px;
        }
    }
    &__p{
        font-family: $font-main;
        font-size: 1em;
        line-height: 2em;
        color: $greyish-brown;
        @media (min-width:768px){
            font-size: 1.5em;
            line-height:1.3em;
        }
    }
    &__button{
        display:block;
        text-decoration:none;
        color:$moss-green;
        border-radius: 22.5px;
        padding: 10px;
        text-align:center;
        border: solid 2px $moss-green;
        width:50%;
        font-family: $font-main;
        font-size: 1.5em;
        margin-top: 30px;
        @media (min-width:768px){
            width:20%;
        }
        
    }
}

.section2{
    background-color: $light-grey;
    text-align:center;
    padding:3rem 1.5rem 3rem 1.5rem;
    @media (min-width:1200px){
        padding:3rem 10rem 3rem 10rem;
    }
    &__title{
        font-family:$font-family;
        &--span{
            color: $greyish-brown;
        }
        &--h2{
            text-transform:uppercase;
        }
    }
    &__items{
        @media (min-width:768px){
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom:20px;
        }
        &--item1{
            margin: 1rem 0rem 1rem 0rem;
            &--img{
            width:50%;
            border-radius:50%;
            box-shadow:5px 5px 5px lightgray;
            @media (min-width:1200px){
                width:35%;
            }
            }
            &--p{
            font-family:$font-family;
            }}   
        &--item2{
            margin: 1rem 0rem 1rem 0rem;
            &--img{
            width:50%;
            border-radius:50%;
            box-shadow:5px 5px 5px lightgray;
            @media (min-width:1200px){
                width:35%;
            }
            }
            &--p{
            font-family:$font-family;
            }} 
        &--item3{
            margin: 1rem 0rem 1rem 0rem;
            &--img{
            width:50%;
            border-radius:50%;
            box-shadow:5px 5px 5px lightgray;
            @media (min-width:1200px){
                width:35%;
            }
            }
            &--p{
            font-family:$font-family;
            }} 
    }

    &__button--a{
        text-decoration:none;
        color:$white;
        background-color: $moss-green;
        border-radius: 22.5px;
        padding: 10px 20px 10px 20px;
        text-align:center;
        border: solid 2px $moss-green;
        width:50%;
        font-family: $font-main;
        font-size: 1.5em;
        margin-top: 30px;

    }
    &__arrow{
        background-color:white;
        border-radius:50%;
        display:flex;
        justify-content:center;
        padding:15px;
        transform: translateX(280%) translateY(140%);
        width:15%;
        @media (min-width:768px) and (max-width:1200px){
            width:8%;
            transform: translateX(570%)
            translateY(140%);
        }
        @media (min-width:1200px){
            width:6%;
            transform: translateX(790%)
            translateY(140%);
        }
    }
}

.footer{
    background-color: $greyish-brown;
    color:$white;
    text-align: center;
    font-family: $font-main;
    font-weight: normal;
    padding:3rem 1.5rem 3rem 1.5rem;
    @media (min-width:768px){
        display:flex;
        justify-content: space-around;
        text-align:left;
    }
    &__ul1{
        list-style: none;
        margin-bottom: 20px;
        text-transform: uppercase;
        line-height: 1.5em;
        @media (min-width:768px){
            order:1;
        }
        &--a{
            text-decoration:none;
            color:$white;
        }
    }
    &__ul2{
        list-style:none;
        margin-bottom: 20px;
        text-transform: uppercase;
        line-height: 1.5em;
        @media (min-width:768px){
            order:2;
        }
        &--a{
            text-decoration:none;
            color: $white;
        }
    }
}